<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Rafae Khan - Index</title>
</head>
<body>
	<br>
	<h1>Employee Management System</h1>
	<p>
		Welcome! <br>
		<br> New employees can be added to the database using the link below.
		Another option to view all employees can also be found below. <br> <br>
		<a href="/userEmpInput"> Add an employee to the database </a> <br> <br>
		<a href="/empList"> View all employees in the database</a> <br> <br>
		<a href="/empNumSearchInput"> Search employees by Employee Number</a> <br><br>
		<a href="/empPhoneSearchInput"> Search employees by Employee Phone</a> <br><br>
		<a href="/empNumDelete"> Delete Employee using Employee Number</a> <br><br>
		<a href="/empUpdate">Update Employee phone number</a> <br><br>
	</p>
</body>
</html>
