<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Rafae Khan - User Input</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add an Employee</h1>
	<p>To add an employee, please provide the following information:</p>
	<form action="#" th:action="@{/userEmpInput}" th:object="${employee}"
		method="post">
		<p>
			Name: <input type="text" th:field="*{empName}" />
		</p>
		<p>
			Address: <input type="text" th:field="*{empAddress}" />
		</p>
		<p>
			Phone: <input type="text" th:field="*{empPhone}" />
		</p>
		<p>
			<input type="submit" value="Submit" /> <br> <br> <input
				type="reset" value="Reset" />
		</p>
	</form>
	<a href="/index"> Main Page </a>
</body>
</html>
